@mixin invalid-border {
  border-color: $orange;

  @include box-shadow(inset 0 1px 1px rgba($red,0.075));
}

// Block level inputs
@mixin input-block-level {
  display: block;
  width: 100%;
  min-height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  @include box-sizing(border-box); // Makes inputs behave like true block-level elements
}

// Generates single property classes
// -------------------------
@mixin property-variants($base, $property, $variants: ()) {
  @each $size, $value in $variants {
    @if $size == 'md' {
      #{$base} {
        #{$property}: $value;
      }

      #{$base}-n {
        #{$property}: $value;
      }
    }

    #{$base}-#{$size} {
      #{$property}: $value;
    }

    #{$base}-n-#{$size} {
      #{$property}: -$value;
    }
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

// Common thumbnail properties
// -------------------------
@mixin thumb($parent, $size) {
  #{$parent} {
    width: $size;

    > .glyphicon,
    > .fa {
      line-height: $size;
    }
  }
}

@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
}

// Placeholder text
@mixin placeholder($color: $input-color-placeholder) {
  // Firefox
  &::-moz-placeholder {
    color: $color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder { color: $color; } // Internet Explorer 10+
  &::-webkit-input-placeholder { color: $color; } // Safari and Chrome
}

// Box sizing
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
  -moz-box-sizing: $boxmodel;
  box-sizing: $boxmodel;
}

@mixin rotate($deg) {
  transform: rotate($deg);
}

@mixin transition-transform($transition...) {
  transition: transform $transition;
}

@mixin user-select($select) {
  user-select: $select;
}

@mixin background-radial-gradient($figure, $type, $position_x, $position_y, $color_1, $color_2) {
  //there is a built-in compass radial-gradient function, but it does not provide enough compatibility, so need to imitate it
  //it also has an option $experimental-support-for-svg which should generate correct svg for IE, but it works incorrect, so
  //fixing it
  //issue id - https://github.com/chriseppstein/compass/issues/1225
  background-color: $color_1;
  //final w3c
  background-image:
    radial-gradient(
      $type $figure at $position_x $position_y,
      $color_1,
      $color_2
    );
  //webkit-specific
  background-image:
    -webkit-radial-gradient(
      $position_x $position_y,
      $type $figure,
      $color_1,
      $color_2
    );

  //moz-specific
  background-image:
    -moz-radial-gradient(
      $position_x $position_y,
      $type $figure,
      $color_1,
      $color_2
    );
}
