@import '../../../styles/app';

.root {
  .equalHeightStats {
    section {
      width: 100%;
    }
  }

  .overallStats {
    li {
      margin-top: 12px;
    }

    .key {
      line-height: 18px;
      margin-left: 5px;
    }
  }
}
